body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color:whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

form {
    background-color: #573a3a10;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.633);
    width: 100%;
    max-width: 400px;
    box-sizing: border-box;
}

h2 {
    text-align: center;
    color: black;
}

label {
    display: block;
    margin: 10px 0 5px;
    color: black;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid black;
    border-radius: 4px;
    background-color: #45a04900;
}

input[type="submit"] {
    background-color: grey;
    color: #fff;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

.form-group {
    display: flex;
    flex-direction: column;
}

@media (max-width: 600px) {
    form {
        max-width: 100%;
    }
}
